html,
body { 
  background-color: rgb(0, 0, 0);
  background-image: url("/images/httpsdunnjacob.vercel.app.png");
  background-size:contain;
  background-repeat: no-repeat;  
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #fafafa;
}

* {
    box-sizing: boarder-box;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  display: table;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

input {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}

input:focus {
  outline: none;
  border-color: #ffffff;
}

button {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #ffffff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}